<h1 class="h1">Examen Tercer Parcial DA</h1>
<div>
    <table class="table">
        <th>Descripcion</th>
        <th>Vinculo</th>
        <tr>
            <td>Datos Libres</td>
            <td>
                <a href="/leer">Ir</a>
            </td>
        </tr>
        <tr>
            <td>Busqueda de datos</td>
            <td>
                <a href="/buscar">Ir </td>
        </tr>
        <tr>
            <td>Mapeo de referencia</td>
            <td>
                <a href="/mapa">Ir</a>
            </td>

        </tr>
        <tr>
            <td>Acceso a base de datos</td>
            <td>
                <a href="/login">Acceder</a>
            </td>
        </tr>

    </table>
</div>